.content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(122, 114, 114, 0.134);
  border-radius: 5px;
  padding: 20px;
  width: 700px;
  /*height: 250px; */
}

.content .profile {
  width: 700px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content .profile div {
  width: 700px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
}

.content .linha {
  margin-top: 60px;
  width: 100%;
  height: 1px;
  background: #9a9a9a;
}
.content .profile .userdetail {
  display: flex;
  width: 700px;

  flex-direction: row;
  align-items: flex-start;
}

.content .profile .userdetail div {
  height: 60px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content .profile .userdetail div strong {
  color: #4a4a4a;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
}
.content .profile .userdetail div small {
  font-family: Helvetica;
  font-size: 11px;
  color: #9a9a9a;
}
.content .profile .userdetail img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.content .userResponse {
  margin-top: 20px;
}

.content .userResponse .userMessage {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-top: 10px;
}

.content .userResponse .userMessage img {
  margin-right: 20px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.content .userResponse .userMessage .messagem {
  font-family: Helvetica;
  text-align: justify;
  font-style: normal;
  font-size: 13px;
  line-height: 20px;
  border-radius: 5px;
  padding: 15px;

  background: #d8d8d8;
  color: #3e3e3e;
}

.content .userResponse .userMessage .messagem strong {
  font-family: Helvetica;
  text-align: justify;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;

  color: #3e3e3e;
}
